<h1>About</h1>
<p>This is a colection of useful visual repertoaire that can be used to iluminate thinking and discussions.</p>
<p>This is a proof of concept for what is yet to be the Values Driven Agile Guide</p>
